<div class="d-flex" id="wrapper">

    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Happy Warehouse</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/warehouse']">Warehouse Management</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/users']">User Management</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/dashboard']">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/logs']" *ngIf="userRole == 'Admin'">Logs</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/livechat']">Live Chat</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/chatgroups']">Chat Groups</a>
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><button class="btn btn-danger" (click)="Logout()">Logout</button></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>